
name: Force Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          pip install buildozer cython kivy
          yes | buildozer android debug
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: App-File
          path: bin/*.apk
