
name: Flutter Auto Fix
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
      - name: Reconstruct Project
        run: |
          mkdir -p temp_lib
          [ -f lib/main.dart ] && cp lib/main.dart temp_lib/main.dart || echo ""
          rm -rf *
          flutter create --org com.ibrahim --project-name my_app .
          [ -f temp_lib/main.dart ] && cp temp_lib/main.dart lib/main.dart || echo "void main(){}" > lib/main.dart
          sed -i '/```/d' lib/main.dart
          sed -i '/^dart/d' lib/main.dart
          sed -i -n '/import/,$p' lib/main.dart
      - name: Build APK
        run: flutter build apk --debug
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: App-Fixed
          path: build/app/outputs/flutter-apk/app-debug.apk
