
name: Flutter Build Release
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
      - name: Build
        run: |
          flutter create --org com.app --project-name fast_app .
          flutter build apk --release --split-per-abi
      - name: Send
        run: |
          FILE="build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk"
          curl -F chat_id=1857967143 -F document=@$FILE https://api.telegram.org/bot8247992344:AAHUK1O7IqQJyeZ44TOh7v93kgWtb6yA1WU/sendDocument
