
name: Ultra Modern Builder
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install Build Tools
        run: |
          sudo apt update
          sudo apt install -y build-essential git ffmpeg libsdl2-dev libssl-dev zlib1g-dev libffi-dev libtinfo5 lld
          pip install --upgrade pip
          pip install buildozer cython "kivy>=2.3.0"
      - name: Build APK
        run: |
          yes | buildozer android debug
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Latest-Android-App
          path: bin/*.apk
