
name: Flutter Final Builder
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
      - name: Create Project
        run: |
          flutter create --org com.ibrahim --project-name my_app .
          # التأكد من تنظيف كود main.dart قبل البناء
          sed -i '/^` ` `/d' lib/main.dart
      - name: Build APK
        run: flutter build apk --debug
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Clean-App
          path: build/app/outputs/flutter-apk/app-debug.apk
