
name: Flutter Auto Builder
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
      - name: Create Fresh Project
        run: |
          flutter create --org com.ibrahim -t app my_app
          cp main.dart my_app/lib/main.dart
      - name: Build APK
        run: |
          cd my_app
          flutter build apk --debug
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Final-App
          path: my_app/build/app/outputs/flutter-apk/app-debug.apk
