
name: Flutter Direct Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          
      - name: Setup Project Structure
        run: |
          if [ ! -f "pubspec.yaml" ]; then
            flutter create --org com.ibrahim --project-name my_app .
          fi
          
      - name: Build APK
        run: flutter build apk --release --split-per-abi
        
      - name: Send APK to Telegram
        run: |
          curl -v -F "chat_id=1857967143" \
               -F "document=@build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk" \
               -F "caption=✅ تم البناء بنجاح يا إبراهيم! تفضل التطبيق." \
               "https://api.telegram.org/bot8247992344:AAHUK1O7IqQJyeZ44TOh7v93kgWtb6yA1WU/sendDocument"
