
name: Groq Power Builder
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential git ffmpeg libsdl2-dev libssl-dev zlib1g-dev           libffi-dev libtinfo6 libncurses6 lld autoconf automake libtool pkg-config
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Build APK
        run: |
          pip install --upgrade pip
          pip install "cython<3.0" kivy buildozer
          yes | buildozer android debug
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: App-Llama-Build
          path: bin/*.apk
