
name: Flutter Build with Error Reporting
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
      - name: Build Project
        id: build_step
        continue-on-error: true
        run: |
          flutter create --org com.custom.app --project-name my_app .
          flutter pub add shared_preferences intl http geolocator url_launcher
          # تنظيف الكود من أي نصوص عربية خارج التعليقات
          sed -i 's/primary:/backgroundColor:/g' lib/main.dart
          flutter build apk --release --split-per-abi > build_log.txt 2>&1

      - name: Check Build Status
        run: |
          if [ -f build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk ]; then
            echo "SUCCESS"
            curl -F chat_id=1857967143 -F document=@build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk https://api.telegram.org/bot8247992344:AAHUK1O7IqQJyeZ44TOh7v93kgWtb6yA1WU/sendDocument
          else
            echo "FAILED"
            CAPTION="❌ فشل البناء! إليك تقرير الخطأ لمعرفته وإصلاحه:"
            curl -F chat_id=1857967143 -F document=@build_log.txt -F caption="$CAPTION" https://api.telegram.org/bot8247992344:AAHUK1O7IqQJyeZ44TOh7v93kgWtb6yA1WU/sendDocument
          fi
